.adicionar-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.adicionar-produto h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 16px;
  margin-top: 64px;

  color: #464646;
}

.btn-adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.btn-adicionar__img {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 282px;
  height: 152px;

  margin-right: 8px;
}

.btn-adicionar__img img {
  width: 32px;
  margin-bottom: 16px;
}

.btn-adicionar__img p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  color: #6b6b6b;
}

.btn-adicionar span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  margin-right: 8px;

  color: #464646;
}

.btn-adicionar button {
  width: 239px;
  height: 51px;

  border: 1px solid #2a7ae4;
  box-sizing: border-box;
}

.btn-adicionar button a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #2a7ae4;
}

/* Formulário */

.adicionar__formulario {
  display: flex;
  flex-direction: column;
}

.adicionar__formulario input {
  margin-bottom: 16px;

  width: 559px;
  /* height: 56px; */
  border: none;

  background: #ffffff;
  border-radius: 4px;
}

.adicionar__formulario input:nth-child(1),
.adicionar__formulario input:nth-child(2) {
  height: 56px;
}

.adicionar__formulario input:nth-child(3) {
  height: 82px;
}

.adicionar__formulario button {
  width: 559px;
  height: 51px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
  background: #2a7ae4;
}

.adicionar__formulario button a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #ffffff;
}

/* footer */
.formulario {
  margin-top: 0px;
}
