
/* .star-wars{
    width: 100%;
} */
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 54px;
}

.card-content img{
    width: 160px;
    height: 160px;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0 152px;
}

.card-header h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #464646;
}

.ver_tudo{
    display: flex;
    gap: 10px;
}

.ver_tudo a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4; 

}

.card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 152px;
}

.card-content div{
    display: flex;
    flex-direction: column;
}

.card-content div p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;

    /* Preto/100% */

    color: #464646;
}

.card-content div span{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 5px 0;
    color: #464646;
}

.card-content div a{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #2A7AE4;
}