.primeira{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 352px;
    background-image: url(../img/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-primeira{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 152px;
}

.content-primeira h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;

    color: #FFFFFF;

    margin-bottom: 16px;

}

.content-primeira p {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: #fff;

    margin-bottom: 16px;

}

.content-primeira button{
    width: 130px;
    height: 51px;
    

    background: #2A7AE4;
    border: none;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}