@media screen and (max-width: 768px) {
  .adicionar-produto {
    width: 100%;
    padding: 32px;
    align-items: flex-start;
  }

  .adicionar-produto h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  .adicionar__formulario {
    width: 100%;
  }

  .adicionar__formulario input {
    width: 100%;
  }

  .adicionar__formulario button {
    width: 100%;
  }
}
