@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url(./header.css);

:root{
  --cinza-claro: #F5F5F5;
  --cinza-escuro: #A2A2A2;
  --azul: #2A7AE4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}